.game-opt{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-opt .select{
  background-color: rgb(190, 199, 218);
  padding: 1rem 2rem;
  border-radius: 5px;
}

.form-control{
  display: flex;
  flex-direction: column;
  margin: 1rem;
}

.form-control input{
  outline: none;
  border: none;
  padding: 0.5rem;
  border-radius: 5px;
}

.form-control select{
  outline: none;
  border: none;
  padding: 0.5rem;
  border-radius: 5px;
}

.btns{
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin: 1rem;
}

.btns button{
  width: 10ch;
  padding: 0.5rem 1rem;
}

.btns button:hover{
  cursor: pointer;
}